@using DoAnTotNghiep.Models;
@model LoaiThanhVien
@{
    ViewBag.Title = "PhanQuyen";
    Layout = "~/Views/Layout/AdminLayout2.cshtml";
}




<h1>Phân Quyền </h1>
<h2 style="color:red;"> Loại Thành Viên: <font color="orange"> @Model.TenLoai</font></h2>
<br />
@{ // lấy danh sách quyền
    IEnumerable<Quyen> lstQuyen = (IEnumerable<Quyen>)ViewBag.MaQuyen;
    IEnumerable<LoaiThanhVien_Quyen> lstLTVQuyen = (IEnumerable<LoaiThanhVien_Quyen>)ViewBag.LoaiTVQuyen;

}

@using (Html.BeginForm())
{
    // MÃ loại tv
    @Html.Hidden("MaLoaiTV", Model.MaLoaiTV)
    if (lstLTVQuyen != null)
    {
        // đối với trường hợp loại thành viên đã phân quyền rồi
        for (int j = 0; j < lstQuyen.Count(); j++)
        {
            int k = 0;
            for (int i = 0; i < lstLTVQuyen.Count(); i++)
            {
                if (lstQuyen.ElementAt(j).MaQuyen == lstLTVQuyen.ElementAt(i).MaQuyen) // so sanh giữa item trong abngr uqyền và bảng loại thànhviên_quyen
                {
                    k++;
                    break;
                }
            }
            if (k != 0)
            {
                <div class="col-md-4" style="font-size:15pt;">

                    <input class="ckb_click1" checked="checked" style="width:20px; height:20px;" type="checkbox" name="@Url.Content("["+j+"].MaQuyen")" value="@lstQuyen.ElementAt(j).MaQuyen" />
                    @lstQuyen.ElementAt(j).TenQuyen
                </div>
            }
            else
            {
                <div class="col-md-4" style="font-size:15pt;">

                    <input class="ckb_click1" style="width:20px; height:20px;" type="checkbox" name="@Url.Content("["+j+"].MaQuyen")" value="@lstQuyen.ElementAt(j).MaQuyen" />
                    @lstQuyen.ElementAt(j).TenQuyen
                </div>
            }
            k = 0;
        }
    }
    else
    {
        // đối với trường hợp thành viên chưa phân quyền
        for (int i = 0; i < lstQuyen.Count(); i++)
        {
            @* Lấy danh sách quyền *@
            <div class="col-md-4" style="font-size:15pt;">

                <input class="ckb_click1" checked="checked" style="width:20px; height:20px;" type="checkbox" name="@Url.Content("["+i+"].MaQuyen")" value="@lstQuyen.ElementAt(i).MaQuyen" />
                @lstQuyen.ElementAt(i).TenQuyen
            </div>


        }
    }
    <div class="clearfix"></div>
    <input type="submit" value="Thực hiện" class="btn btn-success" />

}
<br />
@Html.ActionLink("Trở về", "IndexPhanQuyen", null, new { @class = "btn btn-primary" })
@* Viết hàm jquery để duyệt lại checkbox đã được check*@
<script>
    $(".ckb_click1").click(function () {
        i = 0;
        $(".ckb_click1").each(function () {
            if ($(this).is(':checked')) {
                $(this).attr("name", "[" + i + "].MaQuyen");
                i++;
            }
        })
    })
</script>


