@model DoAnTotNghiep.Models.NhaSanXuat

@{
    ViewBag.Title = "ThemNSX";
    Layout = "~/Views/Layout/AdminLayout2.cshtml";
}

<h2>Thêm Nhà Sản Xuất Mới</h2>

@using (Html.BeginForm("ThemNSX", "QuanLyDoiTac", FormMethod.Post, new { @enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        <label> Tên Nhà Sản Xuất</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.TenNSX, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TenNSX, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label> Thông tin liên hệ</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.ThongTin, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.ThongTin, "", new { @class = "text-danger" })
        </div>
    </div>


    <label> Logo Công ty</label>

    <div class="form-group col-lg-2">

        <input type="file" required="" class="form-control form-control-user " id="Logo" name="Logo" placeholder="">
        <span style="color:red;">@ViewBag.uploadHinhNSX</span>
    </div>


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm" class="btn btn-primary" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Quay lại!", "QuanLyNSX")
</div>
