@using DoAnTotNghiep.Models
@using PagedList.Mvc
@model PagedList.IPagedList<SanPham>
@{
    ViewBag.Title = "KQTimKiem";
    Layout = "~/Views/Layout/SanPhamLayout.cshtml";
}
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>



<div class="col-md-9 products-grid-right">
    <h3>SẢN PHẨM NỔI BẬT</h3>
    @*  form tìm kiếm ajax*@
    @using (Ajax.BeginForm("KQTimKiemPartial", "TimKiem", new AjaxOptions { UpdateTargetId = "KQTimKiem", InsertionMode = InsertionMode.Replace }))
    {
        <div class="search">
            <input type="text" id="txtTimKiem" value="" name="sTuKhoa" placeholder="Nhập vào tên sản phẩm cần tìm...." />
            <input type="submit" id="btnTimKiem" value="Tìm" />
        </div>
    }
    <div style="clear:both"></div>
    <br />

    <div id="KQTimKiem">
        <div class="special ">

            <div class="specia-top">
                <div class="row">
                    <!--  -->
                    @foreach (var item in Model)
                    {
                        <div class="col-md-4 col-sm-4 col-xs-6 col-min-12">
                            <ul class="grid_2">
                                <li>
                                    <a href="@Url.Action("XemChiTietSP", "SanPham", new {id = item.MaSP })        "><img src="@Url.Content("~/Content/images/" + item.HinhAnh)" class="img-responsive" alt="@item.TenSP"></a>
                                    <div class="special-info grid_1 simpleCart_shelfItem">
                                        <h5><a href=" @Url.Action("XemChiTietSP", "SanPham", new {id = item.MaSP })     ">@item.TenSP</a></h5>
                                        <div class="item_add">
                                            <span class="item_price">
                                                <h6>@item.DonGiaChuaSale <sup> đ</sup>&nbsp;</h6>
                                                <h4>@item.DonGia <sup> đ</sup></h4>
                                            </span>
                                        </div>
                                        <div class="item_add">
                                            <span class="item_price">
                                                @*  <a href=" @Url.Action("ThemGioHang", "GioHang", new {@MaSP=item.MaSP, @strUrl = Request.Url.ToString() })    ">Đặt mua</a>
                                                    Thêm giỏ hàng ajax*@
                                                @Ajax.ActionLink("Giỏ Hàng", "ThemGioHangAjax", "GioHang", new { @MaSP = item.MaSP, @strUrl = Request.Url.ToString() }, new AjaxOptions { HttpMethod = "Get", UpdateTargetId = "divGioHang", InsertionMode = InsertionMode.Replace }, null)
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    }
                    <div class="page_break page_break_cus1"></div>
                    <!--  -->
                    <div class="clearfix"> </div>

                </div>
            </div>

        </div>




    </div>
</div>
<div class="dlink" style="margin-left:1000px;">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("KQTimKiem", new { page = page, @sTuKhoa = ViewBag.TuKhoa }))
</div>