@using DoAnTotNghiep.Models
@model IEnumerable<GioiThieu>
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Layout/SanPhamLayout.cshtml";
}
<div class="col-md-9 products-grid-right">
    <div class="special dv-dstintuc">
        <h3>Giới Thiệu</h3>
        <div class="specia-top">
            <!--  -->
            @foreach (var item in Model)
            {
            <div id="one-news">
                <div id="news-img">
                    <a href=" @Url.Action("ChiTietGioiThieu", "Home", new {id = item.MaGioiThieu })">
                        <img src=" @Url.Content("~/Content/images/" + item.HinhAnh)" alt="@item.TieuDeGT">
                    </a>
                </div>
                <div id="news-view">
                    <div id="tieude_tintuc"><a href="@Url.Action("ChiTietGioiThieu", "Home", new {id = item.MaGioiThieu })"> @item.TieuDeGT</a></div>
                    <div id="news-day">Số Điện Thoại: @item.SDT </div>
                    <div id="news-day">Email: @item.Email </div>
                </div>
                <div class="clear">

                </div>
            </div>

            }
            <!--  -->
            <div class="clearfix"> </div>
        </div>
    </div>
</div>





